* {
  --primary-color: #ff9a4f;
  --primary-color-dull: #ffd2b2;
  --primary-color-dull-hover: #ffc79e;
  --primary-color-dull-clicked: #ffa563;
  --nav-background: #253341;
  --secondary-color: #fffffe;
  --tertiary-color: #d9376e;
  --background-color: #eff0f3;
  --background-color-dark: #0f0e17;
  --border-color: #efefef;
  --text-color: #0d0d0d;
  --text-color-2: #2a2a2a;
  --text-nav: #e9edf2;
  --primary-color-hella-dull: #fff4ed;
  box-sizing: border-box;
  --app-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: var(--app-font);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  overscroll-behavior: none;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  min-height: 100vh;
}

.navbar {
  margin: 0;
  background-color: var(--nav-background);
  width: 160px;
  text-align: center;
}

.visible-brand {
  font-size: 32px;
  font-weight: 800;
  font-variant: small-caps;
  color: var(--text-nav);
  cursor: pointer;
  margin-top: 3vh;
}

.hidden {
  display: none;
}

.parent-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}

input {
  width: 440px;
  height: 45px;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

input[type="text"] {
  background-color: #e6e6e6;
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  font-size: 1.1rem;
  text-align: left;
  width: 460px;
}

input[type="text"]:focus {
  background-color: #e6e6e6;
  color: var(--text-color-2);
}

.selected-players {
  display: flex;
  flex-direction: column;
  height: 93vh;
  width: 684px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-right: 1vw;
  margin-left: 1vw;
  background-color: var(--secondary-color);
  border-radius: 15px;
  border: solid var(--border-color) 2px;
  overflow-y: scroll;
}

.selected-player-clicked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  height: 120px;
  background-color: var(--primary-color-dull-clicked);
  overflow: hidden;
  border-radius: 10px;
  cursor: grab;
}

.selected-player-clicked:hover {
  background-color: var(--primary-color);
}

.draft-position-container {
  width: 640px;
  height: 120px;
  margin-bottom: 10px;
}

.draft-position-width {
  width: 120px;
}

.draft-position {
  font-weight: 100;
  font-size: 84px;
  font-family: var(--app-font);
  padding-left: 20px;
}

.selected-player-empty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;
  height: 120px;
  overflow: hidden;
  border: solid var(--background-color) 2px;
  border-radius: 10px;
}

.selected-player-empty:hover {
  cursor: grab;
  background-color: var(--background-color);
}

.selected-player-image {
  height: 120px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
}

.selected-player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #201f2f;
  height: 120px;
  background-color: var(--primary-color-dull);
  overflow: hidden;
  border-radius: 10px;
}

.selected-player-info:hover {
  background-color: var(--primary-color-dull-hover);
}

.selected-player-info-clicked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-text);
  height: 120px;
  background-color: var(--primary-color-dull-clicked);
  overflow: hidden;
  border-radius: 10px;
  cursor: grab;
}

.selected-player-info-clicked:hover {
  background-color: var(--primary-color);
}

.selected-player-info:hover {
  cursor: grab;
}

.left-side {
  display: flex;
  width: 100%;
}

.selected-player-text {
  font-family: var(--app-font);
  font-size: 22px;
  font-weight: 200;
  align-self: center;
  padding-left: 80px;
}

.selected-player-name {
  font-size: 28px;
  font-weight: 400;
}

.left-column {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  height: 93vh;
  width: 500px;
}

.profile-buttons {
  text-align: center;
}

.profile-nav {
  background-color: var(--primary-color-dull);
  border-radius: 8px;
  box-shadow: rgba(64, 62, 61, 0.05) 0px 3px 10px 0px;
  display: inline-flex;
  height: 30px;
  margin-top: 0px;
  max-width: 500px;
  padding-top: 0px;
  position: relative;
  width: 100%;
}

.profile-button {
  border: transparent;
  background-color: transparent;
  border-radius: 8px;
  color: var(--text-color);
  font-family: var(--app-font);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  position: relative;
  text-align: center;
  width: 50%;
  cursor: pointer;
}

.profile-button-clicked {
  background-color: var(--primary-color-dull-clicked);
  color: var(--text-color);
  border-radius: 8px;
  height: 30px;
  width: 50%;
  font-family: var(--app-font);
  font-size: 16px;
  font-weight: 600;
  border: transparent;
}

.video-container {
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.video-player {
  width: 80%;
  aspect-ratio: 16 / 9;
}

.player-profile {
  width: 500px;
  border: solid var(--border-color) 2px;
  height: 320px;
  border-radius: 15px;
  overflow: scroll;
  margin-top: 0.5vh;
  padding: 10px;
}

.profile-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-information {
  font-weight: 400;
  font-size: 18px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-image {
  height: 130px;
  object-fit: cover;
  margin-left: 2px;
}

.profile-stats {
  margin-top: 10px;
  display: grid;
}

.search-components {
  width: 500px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  margin-bottom: 0.5vh;
  border: solid var(--border-color) 2px;
  height: calc(93vh - 320px);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--secondary-color);
  height: 80px;
  width: 460px;
}

.search-results {
  margin-top: 72px;
  width: 100%;
}

.player-search-results {
  display: flex;
  color: var(--background-color);
  border-radius: 10px;
  height: 92px;
  border: solid var(--background-color) 2px;
  margin-top: 10px;
}

.player-search-results:hover {
  cursor: pointer;
  background-color: var(--background-color);
}

.player-search-results:hover > .player-image {
  cursor: pointer;
  background-color: var(--background-color);
}

.player-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--secondary-color);
  object-fit: cover;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #201f2f;
  padding-left: 1rem;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
} 

.search-icon {
  position: absolute;
  left: 16px;
  stroke: var(--tertiary-color);
  stroke-width: 3;
}

.selected-player-info-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

table {
  width: auto;
  text-align: center;
  font-size: 18px;
}

th {
  width: 50px;
}

td {
  width: 50px;
}

.buttons-social {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
