* {
  --primary-color: #ff8e3c;
  --primary-color-dull: #ffd2b2;
  --primary-color-dull-clicked: #ffa563;
  --secondary-color: #fffffe;
  --tertiary-color: #d9376e;
  --background-color: #eff0f3;
  --border-color: #efefef;
  --text-color: #0d0d0d;
  --text-color-2: #2a2a2a;
  --test-color: #f25f4c;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  color: var(--text-color);
  align-self: center;
  font-size: xx-large;
  font-weight: 900;
}

.parent-container {
  display: flex;
  flex-direction: row;
}

input {
  width: 350px;
  // height: 70px;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

input[type="text"] {
  background-color: #e6e6e6;
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  /* color: var(--border-color); */
  font-weight: 700;
  font-size: 1.5rem;
  text-align: left;
}

input[type="text"]:focus {
  background-color: #e6e6e6;
  color: var(--text-color-2);
}

.selected-players {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-column-gap: 10px; */
  grid-row-gap: 10px;
  /* margin-top: 10px; */
  padding: 20px;
  margin: 10px;
  background-color: #fffffe;
  border-radius: 15px;
  border: solid var(--text-color-2) 2px;
  max-height: 664px;
  overflow-y: scroll;
}

.selected-player-clicked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  height: 70px;
  background-color: var(--primary-color-dull-clicked);
  overflow: hidden;
  /* border: solid #d95b00 2px; */
  border-radius: 10px;
  cursor: grab;
}

.draft-position-container {
  width: 350px;
}

.draft-position {
  font-weight: 700;
  font-size: xx-large;
  /* margin-right: 5px; */
  /* margin-left: 5px; */
  padding-left: 20px;
}

.selected-player-empty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;
  height: 70px;
  overflow: hidden;
  border: solid var(--background-color) 2px;
  border-radius: 10px;
}

.selected-player-empty:hover {
  cursor: grab;
  background-color: var(--background-color);
}

.selected-player-image {
  width: 80px;
  height: 66px;
  /* margin-left: 5px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
}

.selected-player-info {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  color: #201f2f;
  height: 70px;
  background-color: var(--primary-color-dull);
  overflow: hidden;
  /* border: solid gray 1px; */
  border-radius: 10px;
  transition: all .3s ease;
}

.selected-player-info-clicked {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  color: #201f2f;
  height: 300px;
  background-color: var(--primary-color-dull-clicked);
  overflow: hidden;
  /* border: solid gray 1px; */
  border-radius: 10px;
  transition: all .3s ease;
}

.selected-player-info:hover {
  cursor: grab;
}

.selected-player-name {
  font-weight: 700;
}

.selected-player-team {
  font-weight: 700;
  word-wrap: normal;
}

.search-components {
  padding: 20px;
  background-color: #fffffe;
  border-radius: 15px;
  margin: 10px;
  border: solid var(--text-color-2) 2px;
  max-height: 664px;
  overflow-y: scroll;
}

.search_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.draft-results {
  display: flex;
  /* margin-bottom: 10px; */
  color: var(--background-color);
  border-radius: 10px;
  height: 70px;
  width: 350px;
  border: solid var(--background-color) 2px;
  margin-top: 10px;
}

.draft-results:hover {
  cursor: pointer;
  background-color: var(--background-color);
}

.player-image {
  width: 80px;
  height: 66px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--secondary-color);
  object-fit: cover;
}

.player-image:hover {
  background-color: var(--background-color);
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #201f2f;
  padding-left: 1rem;
  overflow: hidden;
}

.player-name {
  font-weight: 700;
}

.player-team {
  font-weight: 700;
}

.search-icon {
  position: absolute;
  left: 11px;
  stroke: var(--tertiary-color);
  stroke-width: 3;
}

.selected-player-info-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

table {
  width: auto;
  text-align: center;
}

th {
  width: 50px;
}

td {
  width: 50px;
}