* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #eff0f3;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* width: auto; */
  /* flex-direction: row; */
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  color: #d95b00;
  align-self: center;
  font-size: xx-large;
  font-weight: 900;
}

.parent-container {
  display: flex;
  flex-direction: row;
}

/* main {
  position: absolute;
} */

/* input {
  margin: 0;
} */

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

input[type="text"] {
  background-color: #201f2f;
  background-color: #e6e6e6;
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  color: #6b7986;
  font-weight: 700;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: 1rem 50%;
}

input[type="text"]:focus {
  background-color: #e6e6e6;
  color: #201f2f;
}

.selected-players {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-column-gap: 10px; */
  grid-row-gap: 10px;
  /* margin-top: 10px; */
  padding: 20px;
  margin: 10px;
  background-color: #fffffe;
  border-radius: 15px;
}

.selected-player-clicked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #201f2f;
  height: 70px;
  /* padding-left: 1rem; */
  /* border-radius: 0.5em; */
  /* border-top-right-radius: 0.5rem; */
  /* border-bottom-right-radius: 0.5rem; */
  /* background-color: hsl(35, 95%, 84%); */
  background-color: #ff9950;
  overflow: hidden;
  /* border: solid #d95b00 2px; */
  border-radius: 15px;
  /* box-shadow: 1px 1px 8px darkgray; */
  /* transition: all .2s ease-out; */
  /* top: auto !important; */
  /* left: auto !important; */
}

.draft-position-container {
  width: 350px;
}

.draft-position {
  font-weight: 700;
  font-size: xx-large;
  /* margin-right: 5px; */
  /* margin-left: 5px; */
  padding-left: 20px;
}

.selected-player-empty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;
  height: 70px;
  /* padding-left: 1rem; */
  /* border-radius: 0.5em; */
  /* border-top-right-radius: 0.5rem; */
  /* border-bottom-right-radius: 0.5rem; */
  /* background-color: hsl(35, 95%, 84%); */
  overflow: hidden;
  border: solid gray 1px;
  border-radius: 15px;
  /* box-shadow: 1px 1px 8px darkgray; */
  /* transition: all .2s ease-out; */
  /* top: auto !important; */
  /* left: auto !important; */
}

.selected-player-empty:hover {
  /* transform: scale(1.01); */
  /* transition: all .2s ease-in; */
  cursor: grab;
  background-color: #eff0f3;
}

.selected-player-image {
  width: 80px;
  height: 70px;
  /* margin-left: 5px; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.selected-player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #201f2f;
  height: 70px;
  /* padding-left: 1rem; */
  /* border-radius: 0.5em; */
  /* border-top-right-radius: 0.5rem; */
  /* border-bottom-right-radius: 0.5rem; */
  background-color: #ffd2b2;
  overflow: hidden;
  /* border: solid gray 1px; */
  border-radius: 15px;
  /* box-shadow: 1px 1px 8px darkgray; */
  /* transition: all .2s ease-out; */
  /* top: auto !important; */
  /* left: auto !important; */
}

.selected-player-info-clicked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #201f2f;
  height: 70px;
  /* padding-left: 1rem; */
  /* border-radius: 0.5em; */
  /* border-top-right-radius: 0.5rem; */
  /* border-bottom-right-radius: 0.5rem; */
  background-color: #ff9950;
  overflow: hidden;
  /* border: solid gray 1px; */
  border-radius: 15px;
  /* box-shadow: 1px 1px 8px darkgray; */
  /* transition: all .2s ease-out; */
  /* top: auto !important; */
  /* left: auto !important; */
}

.selected-player-info:hover {
  /* transform: scale(1.01); */
  /* transition: all .2s ease-in; */
  cursor: grab;
}

/* .selected-player-text { */
  /* align-self: center; */
/* } */

.selected-player-name {
  font-weight: 700;
}

.selected-player-team {
  font-weight: 700;
  word-wrap: normal;
}

.search-components {
  padding: 20px;
  background-color: #fffffe;
  border-radius: 15px;
  margin: 10px;
}

.radius {
  border-radius: 10px;
  position: relative;
}

.search_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* .search__form {
  flex-grow: 1;
  top: 30px;
  position: static;
} */

.draft-results {
  display: flex;
  margin-bottom: 0.5rem;
  color: #eff0f3;
  border-radius: 15px;
  height: 70px;
  border: solid #eff0f3 2px;
}

.draft-results:hover {
  cursor: pointer;
  background-color: #eff0f3;
}

.player-image {
  width: 80px;
  height: 70px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #201f2f;
  padding-left: 1rem;
  /* border-top-right-radius: 15px; */
  /* border-bottom-right-radius: 15px; */
  overflow: hidden;
}

.player-name {
  font-weight: 700;
}

.player-team {
  font-size: 1.2rem;
}