/* * {
  box-sizing: border-box;
} */

body {
  font-family: "Source Sans Pro", sans-serif;
  /* background-color: #181725; */
  color: #fefefe;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main {
  position: absolute;
} */

/* input {
  margin: 0;
} */

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

input[type="text"] {
  background-color: #201f2f;
  background-color: #e6e6e6;
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  color: #6b7986;
  font-weight: 700;
  font-size: 1.5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: 1rem 50%;
}

input[type="text"]:focus {
  background-color: #e6e6e6;
  color: #201f2f;
}

/* label {
  display: inline-block;
} */

/* header,
section {
  margin-bottom: 2rem;
  min-width: 54rem;
  max-width: 54rem;
} */

/* .logo {
  display: flex;
  justify-content: center;
} */

.selected-players {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-column-gap: 10px; */
  grid-row-gap: 10px;
  margin-top: 10px;
}

.draft-position {
  font-weight: 700;
  font-size: xx-large;
  margin-right: 5px;
}

.selected-player-empty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  color: #201f2f;
  width: 100%;
  height: 70px;
  /* padding-left: 1rem; */
  /* border-radius: 0.5em; */
  /* border-top-right-radius: 0.5rem; */
  /* border-bottom-right-radius: 0.5rem; */
  /* background-color: hsl(35, 95%, 84%); */
  overflow: hidden;
  border-bottom: solid gray 1px;
  border-radius: 15px;
  /* box-shadow: 1px 1px 8px darkgray; */
  /* transition: all .2s ease-out; */
  /* top: auto !important; */
  /* left: auto !important; */
}

.selected-player-image {
  width: 120px;
  height: 80px;
  margin-left: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.selected-player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  color: #201f2f;
  width: 100%;
  height: 70px;
  /* padding-left: 1rem; */
  /* border-radius: 0.5em; */
  /* border-top-right-radius: 0.5rem; */
  /* border-bottom-right-radius: 0.5rem; */
  background-color: hsl(35, 95%, 84%);
  overflow: hidden;
  border-bottom: solid gray 1px;
  border-radius: 15px;
  /* box-shadow: 1px 1px 8px darkgray; */
  /* transition: all .2s ease-out; */
  /* top: auto !important; */
  /* left: auto !important; */
}

.selected-player-info:hover {
  /* transform: scale(1.01); */
  /* transition: all .2s ease-in; */
  cursor: grab;
}

.selected-player-text {
  width: 240px;
}

.selected-player-name {
  font-weight: 700;
}

.selected-player-team {
  font-weight: 700;
  word-wrap: normal;
}

.radius {
  border-radius: 15px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* .search__form {
  flex-grow: 1;
  top: 30px;
  position: static;
  width: 34%;
} */

.draft-results {
  display: flex;
  color: #fefefe;
  margin-bottom: 0.5rem;
  /* border-radius: 15px; */
  /* transition: all .2s ease-out; */
}

/* .draft-results:hover {
  transform: scale(1.01);
  transition: all .2s ease-in;
} */

.player-image {
  width: 120px;
  height: 80px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.player-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #201f2f;
  width: 100%;
  padding-left: 1rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #201f2f;
  background-color: hsl(35, 95%, 84%);
  overflow: hidden;
}

.player-name {
  font-weight: 700;
}

.player-team {
  font-size: 1.2rem;
}