* {
  --primary-color: #ff8e3c;
  --secondary-color: #fffffe;
  --tertiary-color: #d9376e;
  --background-color: #eff0f3;
  --border-color: #efefef;
  --text-color: #0d0d0d;
  --text-color-2: #2a2a2a;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--background-color);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* width: auto; */
  /* flex-direction: row; */
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  color: var(--text-color);
  align-self: center;
  font-size: xx-large;
  font-weight: 900;
}

.parent-container {
  display: flex;
  flex-direction: row;
}

/* main {
  position: absolute;
} */

/* input {
  margin: 0;
} */

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

input[type="text"] {
  background-color: #e6e6e6;
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  color: var(--border-color);
  font-weight: 700;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: 1rem 50%;
}

input[type="text"]:focus {
  background-color: #e6e6e6;
  color: #201f2f;
}

.selected-players {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-column-gap: 10px; */
  grid-row-gap: 10px;
  /* margin-top: 10px; */
  padding: 20px;
  margin: 10px;
  background-color: #fffffe;
  border-radius: 15px;
  border: solid var(--text-color-2) 2px;
}

.selected-player-clicked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  height: 70px;
  background-color: var(--primary-color);
  overflow: hidden;
  /* border: solid #d95b00 2px; */
  border-radius: 10px;
}

.draft-position-container {
  width: 350px;
}

.draft-position {
  font-weight: 700;
  font-size: xx-large;
  /* margin-right: 5px; */
  /* margin-left: 5px; */
  padding-left: 20px;
}

.selected-player-empty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;
  height: 70px;
  overflow: hidden;
  border: solid var(--background-color) 2px;
  border-radius: 10px;
}

.selected-player-empty:hover {
  cursor: grab;
  background-color: var(--border-color);
}

.selected-player-image {
  width: 80px;
  height: 70px;
  /* margin-left: 5px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.selected-player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #201f2f;
  height: 70px;
  background-color: #ffd2b2;
  overflow: hidden;
  /* border: solid gray 1px; */
  border-radius: 10px;
}

.selected-player-info-clicked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #201f2f;
  height: 70px;
  background-color: var(--primary-color);
  overflow: hidden;
  /* border: solid gray 1px; */
  border-radius: 10px;
}

.selected-player-info:hover {
  cursor: grab;
}

.selected-player-name {
  font-weight: 700;
}

.selected-player-team {
  font-weight: 700;
  word-wrap: normal;
}

.search-components {
  padding: 20px;
  background-color: #fffffe;
  border-radius: 15px;
  margin: 10px;
  border: solid var(--text-color-2) 2px;
}

.radius {
  border-radius: 8px;
  position: relative;
}

.search_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* .search__form {
  flex-grow: 1;
  top: 30px;
  position: static;
} */

.draft-results {
  display: flex;
  margin-bottom: 0.5rem;
  color: var(--background-color);
  border-radius: 10px;
  height: 70px;
  border: solid var(--background-color) 2px;
}

.draft-results:hover {
  cursor: pointer;
  background-color: var(--border-color);
}

.player-image {
  width: 80px;
  height: 70px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #201f2f;
  padding-left: 1rem;
  overflow: hidden;
}

.player-name {
  font-weight: 700;
}

.player-team {
  font-size: 1.2rem;
}